/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

*/

body {
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

h1 {
  font-size: 130px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  color: #fff;
  text-align: center;
}

.hero {
  background: url(/images/main-image.png) no-repeat;
  background-size: 100%;

  padding-top: 10%;
  padding-bottom: 10%;
}

.main-description {
  margin: 80px;
  line-height: 1.7;
  font-weight: lighter;
  text-align: center;
}

.main-description h3 {
  font-size: 56px;
  margin-bottom: 50px;
}
.main-description p {
  font-size: 36px;
}

.btn-branding {
  font-size: 36px;

  background: #3d0240;
  color: #fff;
  border-radius: 20px;
  padding: 12px 24px;
}

.btn-branding:hover {
  color: #b7b7b7;
}

.navigate-button {
  text-align: center;
}
