:root {
  --primary-color: #3d0240;
  --secondary-color: #cecbcb44;
}
* {
  margin: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 100px;
  font-family: "Playfair Display", serif;
}

footer {
  background: var(--secondary-color);
}

footer p a {
  text-decoration: none;
  color: var(--primary-color);
}

.hero-image {
  background: url(/images/main-image.png);
  height: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  text-align: center;
  color: white;
  width: 100%;
  height: auto;
  margin-top: 200px;
}

.brand-slogan {
  font-size: 20px;
}

.main-description {
  margin: 60px;
  line-height: 1.7;
  font-weight: lighter;
}

.main-description h2 {
  font-size: 42px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.7;
}
.main-description p {
  font-size: 36px;
  opacity: 70%;
}

.btn-branding {
  font-size: 20px;
  box-shadow: 8px 4px 22px rgba(0, 0, 0, 0.2);
  background: var(--primary-color);
  color: #fff;
  border-radius: 20px;
  padding: 12px 24px;
  transition: all 100ms ease-in-out;
}

.btn-branding:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.navigate-button {
  text-align: center;
}

.social-links a {
  font-size: 24px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 8px 15px;
  border-radius: 50%;
  margin: 20px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background: var(--primary-color);
}

.heading-content {
  color: var(--primary-color);
  background: var(--secondary-color);
  margin: 55px 0;
  font-size: 54px;
}

.content-section {
  padding: 0 150px;
}

.content-section p {
  font-size: 18px;
}

.about-image {
  display: block;
  margin: 0 auto;
}

.contact-content {
  text-align: center;
}

.contact-content p {
  font-size: 24px;
}

.active {
  color: var(--primary-color) !important;
}

.nav-item {
  padding: 0 10px;
}

@media (max-width: 920px) {
  h1 {
    font-size: 55px;
  }
  .hero-text {
    margin-top: 150px;
  }
  .hero-image {
    height: 50%;
  }
  .content-section {
    padding: 0 50px;
  }
  .content-section p {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 55px;
  }

  .hero-image {
    height: 50%;
  }

  .hero-text {
    margin-top: 150px;
  }
  .main-description {
    margin: 30px;
  }
  .main-description h2 {
    font-size: 30px;
  }

  .main-description p {
    text-align: center;
    font-size: 26px;
  }

  .heading-content {
    margin-bottom: 30px;
  }

  .content-section {
    padding: 0 50px;
  }
  .content-section p {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 340px) {
  h1 {
    font-size: 55px;
  }

  .hero-image {
    height: 50%;
  }

  .hero-text {
    margin-top: 100px;
  }

  .contact-content p {
    font-size: 20px;
  }
}
